<% admin_breadcrumbs(link_to("Promotion Codes", admin_promotion_codes_path), link_to(@promotion_code.code, admin_promotion_code_path(@promotion_code)), "Edit") %>

<div class="mb-6">
  <h1 class="text-2xl font-bold text-gray-900">Edit Promotion Code</h1>
  <p class="text-sm text-gray-500 mt-1 font-mono"><%= @promotion_code.code %></p>
</div>

<div class="bg-white rounded-xl border border-gray-200 p-6 max-w-2xl">
  <%= render "form", promotion_code: @promotion_code %>
</div>
